<div class="d-flex flex-column min-vh-100">
  <!-- Σταθερό Header -->
  <header class="bg-primary text-white text-center py-3 fixed-top">
    <h1 class="h4">Dorm App</h1>
    
  </header>

  <!-- Κύριο περιεχόμενο (Router Outlet) -->
  <main class="flex-grow-1 d-flex justify-content-center align-items-center mt-5 pt-5">
    <router-outlet></router-outlet>
  </main>

  
  <footer class="bg-dark text-white text-center py-3 fixed-bottom">
    <p class="mb-0">© 2025 Dorm App - All Rights Reserved</p>
  </footer>
</div>
