<div class="d-flex justify-content-center align-items-center flex-grow-1 vh-100">
  <div class="card shadow p-4" style="width: 400px;">
    <h2 class="text-center mb-4">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">

      <!-- Username Field -->
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" formControlName="username">
        <small *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
          Username is required.
        </small>
      </div>

      <!-- Password Field -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
        <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          Password is required.
        </small>
      </div>

      

      <!-- Login Button -->
      <button class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
